<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerlink}}
</head>

<body>
 {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center" >
                        <figure><img src="images/about.png" alt="thapa" class="img-fluid" title="thapa-technical">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_color"> MERN Stack Developer, Football Player</span> And A Student
                        </h1>
                        <a href="/about"><button>About Me</button></a>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Created With Love by Hach</p>
    </footer>
</body>

</html>